<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MY NOTES</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<h1 style="margin-left:100px">MY NOTES</h1>
    <div style="margin:20px" th:each="note : ${listNotes}">
        <h2 th:text= "${note.title}"></h2>
        <p th:text="${note.content}"></p>

        <form th:action="@{/note/delete}" method="post">
            <a th:href="@{'edit/' + ${note.id}}" class="btn btn-success" role="button">EDIT</a>
            <input type="hidden" name="id" th:value="${note.id}">
            <button type="submit" class="btn btn-danger">DELETE</button>
        </form>

    </div>

<a href="/note/add" class="btn btn-success" role="button" style="margin:20px">ADD NEW NOTE </a>
</body>
</html>