<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EDIT NOTE</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<h1 style="margin-left:100px">EDIT NOTE</h1>
<form style="margin:40px" th:action="@{/note/edit}" method="post">
    <input  type="hidden" th:name="id" th:value="${note.id}" />
    <input style="font-weight:bold;width:300px" type="text" th:name="title" th:value= "${note.title}"><br>
    <p></p>
    <input style="margin-bottom:20px;width:300px;height:300px;" type="text" th:name="content" th:value="${note.content}"><br>
    <button class="btn btn-primary" style="border-radius: 10px;width:100px;" type="submit">SAVE</button><br>
</form>
</body>
</html>